/**
 * BUTTONS
 */

/* -------------------------------------------------------------------------- *\
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * BUTTON
 * GROUP
 */





/* -------------------------------------------------------------------------- *\
   #BUTTON
\* -------------------------------------------------------------------------- */

.btn {
    border: 2px solid $color-black;
    border-bottom-width: 6px;
    color: $color-black;
    display: inline-block;
    font-size: 0.875em; /* 14 / 16 */
    height: auto;
    letter-spacing: 2px;
    line-height: 1;
    padding: 1.25em 1.5em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.25s, border-color 0.25s, color 0.25s;
    vertical-align: middle;
    white-space: nowrap;

    &.is-active,
    &:focus,
    &:hover {
        border-top-width: 6px;
        border-bottom-width: 2px;
        outline: 0;
    }

    /**
     * Icon
     */

    &.btn--icon {

        .icon {
            margin-top: -1px;
            margin-left: 0.5em;

            &.icon--left {
                margin-right: 0.5em;
                margin-left: 0;
            }

            &.icon--only {
                margin-right: 0;
                margin-left: 0;
            }
        }
    }

    /**
     * Small
     */

    &.btn--small {
        font-size: 0.75em; /* 12 / 16 */
        padding: 1em 1.25em;

        &.btn--icon {

            .icon {
                font-size: 1em;
                margin-top: 0;
            }
        }
    }
}




/* -------------------------------------------------------------------------- *\
   #GROUP
\* -------------------------------------------------------------------------- */

.btn-group {
    @include clearfix();
    margin-bottom: 1em;
    text-align: center;
    width: 100%;

    /**
     * Button
     */

    .btn {
        margin-bottom: 1.25em;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media all and (min-width: $bp-xs) {

    .btn-group {

        .btn {
            margin-bottom: 0;
            margin-left: 0.9375em;
            width: auto;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
