/* -------------------------------------------------------------------------- *\
   #MEDIA
\* -------------------------------------------------------------------------- */

/**
 * Audio/Video
 */

audio,
video {
    height: auto;
    max-width: 100%;
    width: 100%;
}

/**
 * Img
 */

img {
    height: auto;
    max-width: 100%;
}
