/* -------------------------------------------------------------------------- *\
   #UPGRADE
\* -------------------------------------------------------------------------- */

.upgrade {
    background-color: $color-silver;
    margin: 0;
    padding: 0.5em 0.75em;
    text-align: center;

    a {
        color: $color-green;
    }
}
