/**
 * VARIABLES
 */

/* -------------------------------------------------------------------------- *\
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * BREAKPOINTS
 * COLORS
 * FONTS
 * .....Family
 * .....Size
 * .....Weight
 * Z-INDEX
 */




/* -------------------------------------------------------------------------- *\
   #BREAKPOINTS
\* -------------------------------------------------------------------------- */

$bp-xs:      30.00em; /*  30.00 x 16 =  480px */
$bp-small:   46.25em; /*  46.25 x 16 =  740px */
$bp-medium:  61.25em; /*  61.25 x 16 =  980px */
$bp-large:   75.00em; /*  75.00 x 16 = 1200px */
$bp-xl:      87.50em; /*  87.50 x 16 = 1400px */
$bp-xxl:    100.00em; /* 105.00 x 16 = 1600px */





/* -------------------------------------------------------------------------- *\
   #COLORS
\* -------------------------------------------------------------------------- */

/**
 * Grayscale
 */

$color-black:       #333;
$color-gray-dark:   #555;
$color-gray:        #aaa;
$color-silver:      #ddd;
$color-white-dark:  #ececec;
$color-white:       #fff;

/**
 * Color
 */

$color-green:       #568880;





/* -------------------------------------------------------------------------- *\
   #FONTS
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   #Family
   ========================================================================== */

$font:           "Open Sans", sans-serif;
$font-secondary: "Playfair Display", serif;





/* ==========================================================================
   #Size
   ========================================================================== */

$h1-font-size: 3.7500em; /* 60 / 16 */
$h2-font-size: 2.5000em; /* 40 / 16 */
$h3-font-size: 1.8750em; /* 30 / 16 */
$h4-font-size: 1.5000em; /* 24 / 16 */
$h5-font-size: 1.5000em; /* 24 / 16 */
$h6-font-size: 1.1250em; /* 18 / 16 */





/* ==========================================================================
   #Weight
   ========================================================================== */

$weight-bold:      700;
$weight-normal:    400;
