/* -------------------------------------------------------------------------- *\
   #CODE
\* -------------------------------------------------------------------------- */

code {
    background-color: $color-silver;
    font-size: 0.9375em; /* 15 / 16 */
    line-height: 1;
    padding: 0.25em 0.5em;
}
