/**
 * LISTS
 */

/* -------------------------------------------------------------------------- *\
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * MIXIN
 * CUSTOM
 */





/* -------------------------------------------------------------------------- *\
   #MIXIN
\* -------------------------------------------------------------------------- */

@mixin unstyled() {
    list-style: none;
    margin: 0;
    padding: 0;
}





/* -------------------------------------------------------------------------- *\
   #CUSTOM
\* -------------------------------------------------------------------------- */

.list {

    .list {
        margin-left: 1em;
    }

    /**
     * Inline
     */

    &.list--inline {
        @include clearfix();
        @include unstyled();

        li {
            float: left;
            margin-right: 1em;
            margin-bottom: 0;

            a {
                border-bottom: 3px solid transparent;
                color: $color-black;
                font-family: $font-secondary;
                text-decoration: none;
                transition: border-color 0.25s;

                &:focus,
                &:hover {
                    border-bottom-color: $color-black;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            &.is-active {

                a {
                    border-bottom-color: $color-black;
                }
            }
        }
    }
}
