/**
 * UTILITIES
 */

/* -------------------------------------------------------------------------- *\
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * CLEARFIX
 * COLORS
 * .....Background
 * .....Foreground
 * DISPLAY
 * .....Hidden
 * .....Invisible
 * .....Visibility
 * EMBED
 * FLOATS
 * FONT
 * .....Family
 * .....Weight
 * TEXT
 * .....Align
 * .....Transform
 * .....Truncate
 */





/* -------------------------------------------------------------------------- *\
   #CLEARFIX
\* -------------------------------------------------------------------------- */

/**
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `u-clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.u-clearfix:before,
.u-clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.u-clearfix:after {
    clear: both;
}





/* -------------------------------------------------------------------------- *\
   #COLORS
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   #Background
   ========================================================================== */

.bg-black       { background-color: $color-black !important; }
.bg-gray-dark   { background-color: $color-gray-dark !important; }
.bg-gray        { background-color: $color-gray !important; }
.bg-silver      { background-color: $color-silver !important; }
.bg-white-dark  { background-color: $color-white-dark !important; }
.bg-white       { background-color: $color-white !important; }
.bg-green       { background-color: $color-green !important; }





/* ==========================================================================
   #Foreground
   ========================================================================== */

.black       { color: $color-black !important; }
.gray-dark   { color: $color-gray-dark !important; }
.gray        { color: $color-gray !important; }
.silver      { color: $color-silver !important; }
.white-dark  { color: $color-white-dark !important; }
.white       { color: $color-white !important; }
.green       { color: $color-green !important; }





/* -------------------------------------------------------------------------- *\
   #DISPLAY
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   #Hidden
   ========================================================================== */

/**
 * Hide visually and from screen readers
 */

.u-hidden {
    display: none !important;
}

/**
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.u-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/**
 * Extends the .u-visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.u-visuallyhidden.focusable:active,
.u-visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}





/* ==========================================================================
   #Invisible
   ========================================================================== */

/**
 * Hide visually and from screen readers, but maintain layout
 */

.u-invisible { visibility: hidden !important; }





/* ==========================================================================
   #Visibility
   ========================================================================== */

/**
 * Small Screens
 */

@media all and (max-width: $bp-small) {

    .u-hide--small {
        display: none !important;
    }
}

/**
 * Medium Screens
 */

@media all and (min-width: $bp-small) and (max-width: $bp-large) {

    .u-hide--medium {
        display: none !important;
    }
}

/**
 * Large Screens
 */

@media all and (min-width: $bp-large) {

    .u-hide--large {
        display: none !important;
    }
}





/* -------------------------------------------------------------------------- *\
   #EMBED
\* -------------------------------------------------------------------------- */

/**
 * Embed Responsively, as per: http://embedresponsively.com
 */

.u-fluid-embed {
    height: auto;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;

    embed,
    iframe,
    object {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}





/* -------------------------------------------------------------------------- *\
   #FLOATS
\* -------------------------------------------------------------------------- */

@media all and (min-width: $bp-small) {

    /**
     * Pull Right
     */

    .u-pull--right {
        float: right !important;
    }

    /**
     * Pull Left
     */

    .u-pull--left  {
        float: left !important;
    }
}





/* -------------------------------------------------------------------------- *\
   #FONT
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   #Family
   ========================================================================== */

.u-font--secondary { font-family: $font-secondary !important; }





/* ==========================================================================
   #Weight
   ========================================================================== */

.u-weight--bold      { font-weight: $weight-bold !important; }
.u-weight--normal    { font-weight: $weight-normal !important; }





/* -------------------------------------------------------------------------- *\
   #TEXT
\* -------------------------------------------------------------------------- */

/* ==========================================================================
   #Align
   ========================================================================== */

.u-align--right  { text-align: right  !important; }
.u-align--center { text-align: center !important; }
.u-align--left   { text-align: left   !important; }





/* ==========================================================================
   #Transform
   ========================================================================== */

.u-transform--capitalize { text-transform: capitalize !important; }
.u-transform--inherit    { text-transform: inherit    !important; }
.u-transform--lowercase  { text-transform: lowercase  !important; }
.u-transform--uppercase  { text-transform: uppercase  !important; }





/* ==========================================================================
   #Truncate
   ========================================================================== */

.u-truncate {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}
