/* -------------------------------------------------------------------------- *\
   #BANNER
\* -------------------------------------------------------------------------- */

.banner {
    background-color: $color-black;
    color: $color-white;
    font-size: 0.75em; /* 12 / 16 */
    letter-spacing: 2px;
    padding: 1.5em 2em;
    text-align: center;
    text-transform: uppercase;
}
