/* -------------------------------------------------------------------------- *\
   #HEADINGS
\* -------------------------------------------------------------------------- */

/**
 * Mixin
 */

@mixin heading($font-size, $percentage) {
    font-size: $font-size;

    @media all and (min-width: $bp-small) {
        font-size: $font-size / $percentage; /* Increase the font size by a percentage */
    }
}

/**
 * Headings
 */

h1 {
    @include heading($h1-font-size, 0.75);
}

h2 {
    @include heading($h2-font-size, 0.75);
}

h3 {
    @include heading($h3-font-size, 0.75);
}

h4 {
    @include heading($h4-font-size, 0.75);
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}

/**
 * hN
 */

.hN {
    border-top: 6px solid;
    border-bottom: 3px solid;
    display: inline-block;
    font-family: $font-secondary;
    font-weight: 700;
    line-height: 1.25;
    padding-bottom: 0.125em;
    margin-bottom: 1em;
}
