/**
 * BASE
 */

/* -------------------------------------------------------------------------- *
   #HTML
\* -------------------------------------------------------------------------- */

/**
 * Apply a natural box layout model to all elements
 */

*,
:before,
:after {
    box-sizing: border-box;
}

/**
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate
 * Customize the background color to match your design
 */

::-moz-selection {
    background: #568880;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #568880;
    color: #fff;
    text-shadow: none;
}

/**
 * HTML
 */

html {
    background-color: #ececec;
    color: #333;
    font: 100%/1.5 "Open Sans", sans-serif;
}



/**
 * GENERIC
 */

/* -------------------------------------------------------------------------- *
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * CODE
 * GRID
 * HEADINGS
 * LISTS
 * PARAGRAPH
 * MEDIA
 */

/* -------------------------------------------------------------------------- *
   #CODE
\* -------------------------------------------------------------------------- */

code {
    background-color: #ddd;
    font-size: 0.9375em; /* 15 / 16 */
    line-height: 1;
    padding: 0.25em 0.5em;
}



/* -------------------------------------------------------------------------- *
   #GRID
\* -------------------------------------------------------------------------- */

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.row:last-child {
    margin-bottom: 0;
}

.row .col {
    margin-bottom: 2%;
    width: 100%;
}

.row .col:last-child {
    margin-bottom: 0;
}

@media all and (min-width: 46.25em) {

    .row .col {
        min-height: 1px;
        /* Prevent horizontal collapse: https://css-tricks.com/make-sure-columns-dont-collapse-horizontally */
        /* 1/3 */
        /* 1/2 */
    }

    .row .col.col-1-3 {
        float: left;
        margin-bottom: 0;
        margin-left: 2%;
        width: 32%;
    }

    .row .col.col-1-3:first-child {
        margin-left: 0;
    }

    .row .col.col-1-2 {
        float: left;
        margin-bottom: 0;
        margin-left: 2%;
        width: 49%;
    }

    .row .col.col-1-2:first-child {
        margin-left: 0;
    }
}

@media all and (min-width: 61.25em) {

    .row .col {
        float: left;
        margin-left: 2%;
    }

    .row .col:first-child {
        margin-left: 0;
    }
}



/* -------------------------------------------------------------------------- *
   #HEADINGS
\* -------------------------------------------------------------------------- */

/**
 * Headings
 */

h1 {
    font-size: 3.75em;
}

@media all and (min-width: 46.25em) {

    h1 {
        font-size: 5em;
    }
}

h2 {
    font-size: 2.5em;
}

@media all and (min-width: 46.25em) {

    h2 {
        font-size: 3.3333333333em;
    }
}

h3 {
    font-size: 1.875em;
}

@media all and (min-width: 46.25em) {

    h3 {
        font-size: 2.5em;
    }
}

h4 {
    font-size: 1.5em;
}

@media all and (min-width: 46.25em) {

    h4 {
        font-size: 2em;
    }
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.125em;
}

/**
 * hN
 */

.hN {
    border-top: 6px solid;
    border-bottom: 3px solid;
    display: inline-block;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    line-height: 1.25;
    padding-bottom: 0.125em;
    margin-bottom: 1em;
}

.hN a {
    color: inherit;
    text-decoration: none;
    transition: color 0.25s;
}

.hN a:focus, .hN a:hover {
    color: #568880;
}



/* -------------------------------------------------------------------------- *
   #LISTS
\* -------------------------------------------------------------------------- */

.list .list {
    margin-left: 1em;
}

.list.list--inline {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list.list--inline:before, .list.list--inline:after {
    content: " ";
    display: table;
}

.list.list--inline:after {
    clear: both;
}

.list.list--inline li {
    float: left;
    margin-right: 1em;
    margin-bottom: 0;
}

.list.list--inline li a {
    border-bottom: 3px solid transparent;
    color: #333;
    font-family: "Playfair Display", serif;
    text-decoration: none;
    transition: border-color 0.25s;
}

.list.list--inline li a:focus, .list.list--inline li a:hover {
    border-bottom-color: #333;
}

.list.list--inline li:last-child {
    margin-right: 0;
}

.list.list--inline li.is-active a {
    border-bottom-color: #333;
}



/* -------------------------------------------------------------------------- *
   #PARAGRAPH
\* -------------------------------------------------------------------------- */

p {
    margin-top: 0;
}

p a {
    border-bottom: 3px solid;
    color: #333;
    text-decoration: none;
    transition: color 0.25s;
}

p a:focus, p a:hover {
    color: #568880;
}



/* -------------------------------------------------------------------------- *
   #MEDIA
\* -------------------------------------------------------------------------- */

/**
 * Img
 */

img {
    height: auto;
    max-width: 100%;
}



/**
 * OBJECTS
 */

/* -------------------------------------------------------------------------- *
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * BANNER
 * BUTTON
 * CARD
 */

/* -------------------------------------------------------------------------- *
   #BANNER
\* -------------------------------------------------------------------------- */

.banner {
    background-color: #333;
    color: #fff;
    font-size: 0.75em; /* 12 / 16 */
    letter-spacing: 2px;
    padding: 1.5em 2em;
    text-align: center;
    text-transform: uppercase;
}



/* -------------------------------------------------------------------------- *
   #BUTTON
\* -------------------------------------------------------------------------- */

.btn {
    border: 2px solid #333;
    border-bottom-width: 6px;
    color: #333;
    display: inline-block;
    font-size: 0.875em; /* 14 / 16 */
    height: auto;
    letter-spacing: 2px;
    line-height: 1;
    padding: 1.25em 1.5em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.25s, border-color 0.25s, color 0.25s;
    vertical-align: middle;
    white-space: nowrap;
}

.btn.is-active, .btn:focus, .btn:hover {
    border-top-width: 6px;
    border-bottom-width: 2px;
    outline: 0;
}

.btn.btn--icon .icon {
    margin-top: -1px;
    margin-left: 0.5em;
}

.btn.btn--icon .icon.icon--left {
    margin-right: 0.5em;
    margin-left: 0;
}

.btn.btn--icon .icon.icon--only {
    margin-right: 0;
    margin-left: 0;
}

.btn.btn--small {
    font-size: 0.75em; /* 12 / 16 */
    padding: 1em 1.25em;
}

.btn.btn--small.btn--icon .icon {
    font-size: 1em;
    margin-top: 0;
}



/* -------------------------------------------------------------------------- *
   #CARD
\* -------------------------------------------------------------------------- */

.card.card--padded {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5em;
    padding: 1.5em;
    transition: box-shadow 0.25s, transform 0.25s;
}

.card.card--padded:focus, .card.card--padded:hover {
    box-shadow: 0 20px 100px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

.card.card--static:focus, .card.card--static:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transform: none;
}

.card .card__link {
    color: #333;
    text-decoration: none;
}

.card .card__label {
    border-top: 6px solid;
    border-bottom: 3px solid;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0.75em;
    padding: 0.5em 0.5em 0.75em 0.5em;
}

.card .cssco {
    margin-bottom: 1.5em;
}

.card .cssco.cssco--no-filter {
    margin-bottom: 3em;
}

.card .cssco:focus, .card .cssco:hover {
    background: none !important;
}

.card .cssco:focus:after, .card .cssco:hover:after {
    display: none !important;
}

.card .cssco:focus img, .card .cssco:hover img {
    filter: none !important;
    -webkit-filter: none !important;
    mix-blend-mode: initial !important;
    opacity: 1 !important;
}



/**
 * LAYOUT
 */

/* -------------------------------------------------------------------------- *
   #TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * WRAPPER
 * HEADER
 * SECTION
 * FOOTER
 */

/* -------------------------------------------------------------------------- *
   #WRAPPER
\* -------------------------------------------------------------------------- */

.l-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 71.25em; /* 1140 / 16 */
    position: relative;
    width: 90%;
}

.l-wrapper:before, .l-wrapper:after {
    content: " ";
    display: table;
}

.l-wrapper:after {
    clear: both;
}

.l-wrapper.l-wrapper--small {
    max-width: 53.125em; /* 850 / 16 */
}



/* -------------------------------------------------------------------------- *
   #HEADER
\* -------------------------------------------------------------------------- */

.l-header {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

.l-header.l-header--left {
    text-align: left;
}

.l-header .hN {
    border-top-width: 10px;
    border-bottom-width: 4px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0.25em;
}

.l-header p {
    font-size: 0.875em; /* 14 / 16 */
    letter-spacing: 2px;
    line-height: 1.75;
    margin-bottom: 2em;
    text-transform: uppercase;
}

@media all and (min-width: 46.25em) {
    .l-header {
        padding-top: 4em;
        padding-bottom: 6em;
    }
}



/* -------------------------------------------------------------------------- *
   #SECTION
\* -------------------------------------------------------------------------- */

.l-section {
    padding-bottom: 2em;
}

@media all and (min-width: 46.25em) {
    .l-section {
        padding-bottom: 6em;
    }
}



/* -------------------------------------------------------------------------- *
   #FOOTER
\* -------------------------------------------------------------------------- */

.l-footer {
    background-color: #fff;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;
}

.l-footer .l-footer__copyright {
    font-size: 0.75em; /* 12 / 16 */
    letter-spacing: 2px;
    line-height: 1.875;
    text-transform: uppercase;
}

.l-footer .l-footer__icons {
    margin-top: 2em;
    margin-bottom: 2em;
}

.l-footer .l-footer__icons .icon {
    color: #333;
    font-size: 1.5em;
    margin-right: 1em;
    text-decoration: none;
    transition: color 0.25s;
}

.l-footer .l-footer__icons .icon:focus, .l-footer .l-footer__icons .icon:hover {
    color: #568880;
}

.l-footer .l-footer__icons .icon:last-child {
    margin-right: 0;
}

@media all and (min-width: 46.25em) {

    .l-footer {
        padding-top: 3em;
        padding-bottom: 4em;
    }
}



/**
 * ICON FONT
 */

@font-face {
    font-family: 'fontawesome';
    src: url("../fonts/fontawesome.eot?3jx4nl");
    src: url("../fonts/fontawesome.eot?3jx4nl#iefix") format("embedded-opentype"), url("../fonts/fontawesome.woff2?3jx4nl") format("woff2"), url("../fonts/fontawesome.ttf?3jx4nl") format("truetype"), url("../fonts/fontawesome.woff?3jx4nl") format("woff"), url("../fonts/fontawesome.svg?3jx4nl#fontawesome") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="fa-"], [class*=" fa-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fontawesome' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-twitter:before {
    content: "\f099";
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-github:before {
    content: "\f113";
}
